.hp-footer {
	@apply border-t-1 border-t-[#E4E4E4];
}

.hp-footer__container {
	@apply flex 
	flex-nowrap
	flex-col
	3xl:flex-row
	items-start
	justify-between
	gap-[2.625rem]
	md:gap-[4rem]
	w-full
	3xl:max-w-[90rem]
	px-3
	md:px-[2.25rem]
	3xl:px-[4.5rem]
	py-[2rem]
	3xl:py-[4rem]
	m-auto;
}

.hp-about-organization {
	@apply flex flex-col gap-3;
}

.hp-about-organization__copyrigh {
	@apply flex flex-col;
}

.hp-copyright {
	@apply text-[1rem] text-[#858585];
}

.hp-organization-address {
	@apply mt-3;
}

.hp-organization-address a {
	@apply text-[1rem] text-[#858585] hover:underline focus:underline;
}

.hp-footer-menu {
	@apply flex 
	flex-none 
	flex-col 
	items-start 
	md:flex-row 
	w-fit
	gap-10 
	md:gap-[5.625rem]
	3xl:gap-[6.25rem];
}

.hp-footer-menu__item {
	@apply flex flex-col gap-5;
}

.hp-footer-menu__title {
	@apply text-[1.125rem] text-gray-900 font-medium;
}

.hp-footer-menu-list {
	@apply flex flex-col gap-3;

	.menu-item {
		@apply text-[1rem] text-gray-900 hover:text-emerald-800 focus:text-emerald-800;

		&.current_page_item {
			@apply text-emerald-800 underline;
		}
	}
}