@import "tailwindcss";

@tailwind base;
@tailwind utilities;

@layer utilities {
	.text-logo {
		@apply text-[1.25rem] md:text-[1.625rem] 3xl:text-[2rem] font-medium;
	}

	.no-scroll {
		@apply overflow-hidden;
	}
}

@layer base {
	html {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}
}

@theme {
	--breakpoint-3xl: 90rem;
}

@import "./layout.scss";
@import "./archive.scss";

@import './components/index.scss';

@import "./header.scss";
@import "./logo.scss";
@import "./nav.scss";
@import './taxonomies-list.scss';
@import './offer-block.scss';
@import './about.scss';
@import './org-contacts.scss';
@import './page-header.scss';
@import './articles-block.scss';
@import './sidebar.scss';
@import './posts.scss';
@import './books-block.scss';
@import './seo-block.scss';
@import './hero-block.scss';
@import './persone.scss';
@import './person-licenses.scss';


@import "./footer.scss";
